<div class="center hero-unit">
  <h1>Welcome to Cheve Makers</h1>

  <% @users.each do |user| %>
  	<p>User: <%= link_to user.name, user %></p>
  <% end %>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>  
</div>

<%= form_for([@user, @brewery]) do |f| %>
  <%= f.label       :name %>
	<%= f.text_field  :name %>
	
	<%= f.label       :description %>
	<%= f.text_area   :description %>

	<%= f.label       :email %>
	<%= f.email_field :email %>

	<%= f.submit %>
<% end %>