<%= form_for [@user, @profile], url: user_profile_path(@user) do |f| %>
	
	<label>Company Name:
		<p><%= f.text_field :name, autofocus: true %></p>
	</label>

	<label>Description:
		<p><%= f.text_area :description %></p>
	</label>

	<label>Category:
		<p><%= f.text_field :category %></p>
	</label>

	<label>Contact E-mail:
		<p><%= f.text_field :email %></p>
	</label>

	<label>Phone Number:
		<p><%= f.text_field :phone_number %></p>
	</label>

	<label>Address:
		<p><%= f.text_field :address %></p>
	</label>

	<label>City:
		<p><%= f.text_field :city %></p>
	</label>

	<label>State:
		<p><%= f.text_field :state %></p>
	</label>

	<label>Zip Code:
		<p><%= f.text_field :zipcode %></p>
	</label>
	
	<p><%= f.submit class: 'btn btn-large btn-primary' %></p>
<% end %>